{# knowledgebase/templates/knowledgebase/article_page.html #}
{% extends "base.html" %}
{% load wagtailcore_tags kb_tags wagtailimages_tags%}




{% block content %}
{% render_article_content page %}
<article>
    <h1>{{ page.title }}</h1>
    {% comment %} <p class="category-label">Category: <a href="{{ page.category.url }}">{{ page.category.title }}</a></p> {% endcomment %}
    <div class="article-intro">
        <p>{{ page.intro }}</p>

        {% if page.keywords %}
        <div class="article-keywords mt-3 mb-3">
            {% for keyword in page.keywords|split %}
            <span class="badge bg-primary rounded-pill py-2 px-2 me-2">{{ keyword|title }}</span>
            {% endfor %}
        </div>
        {% endif %}



        {% if not page.reviewed %}
        <div class="alert alert-primary" role="alert">
            <div class="d-flex gap-4">
              <span><i class="fa-solid fa-circle-info icon-primary"></i></span>
              <div class="d-flex flex-column gap-2">
                <h6 class="mb-0">Pending Review</h6>
                <p class="mb-0">This article is pending review from our team of medical experts.</p>
              </div>
            </div>
          </div>
        {% endif %}


        {% if page.reviewer %}
          <div class="reviewer-info">
            {% image page.reviewer.photo fill-100x100 as reviewer_photo %}
            {% if reviewer_photo %}
                <img src="{{ reviewer_photo.url }}" alt="{{ page.reviewer.name }}" class="reviewer-photo">
            {% endif %}
            <p>Reviewed by: <span class="reviewer-name">{{ page.reviewer.name }}</span>, <span class="reviewer-credentials">{{ page.reviewer.credentials }}</span></p>
            {% if page.reviewer.bio %}
              <p class="reviewer-bio">{{ page.reviewer.bio }}</p>
            {% endif %}
          </div>
        {% endif %}


    </div>
    <hr>

{% comment %} 
<pre>
{{ article_data.toc|pprint }}
</pre>
{% endcomment %}

    <div class="article-body">
        {{ article_data.body }}
    </div>


</article>
{% endblock content %}

{% block sidebar %}
{% render_article_content page %}
{% include "includes/sidebar_toc.html" with toc=article_data.toc %}
{% endblock sidebar %}